<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Wild Conservation</title>
</head>
<body>
    <div class="container">
        <h1>Wild Conservation of Endangered Species</h1>
    <ul>
        {% for species in species_list %}
        <li>{{ species['name'] }} - {{ species['habitat'] }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_species') }}">Add species</a>
    </div>
    
</body>
</html>